@primary-color: #29865d;
@error-color: #ff0000;
@border-color: #646cff;
@hover-color: #747bff;
@bkg-color: #1a1a1a;

@font-size: 16px;
@border-radius: 20px;

.column () {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
